<h2>This is the Tent Group!</h2>
<app-playercharacter
  *ngFor = "let tent of web_players"
  [_id] = "tent._id"
  [_user_id] = "tent._user_id"
  [web_element_id]="tent.web_element_id"
  [player] = "tent.player"
  [character]="tent.character"
  [initiative]="tent.initiative"
  [passive_perception]="tent.passive_perception"
  [spell_dc] = "tent.spell_dc"
  [ac] = "tent.ac"
  [notes] = "tent.notes"
  (playerChanged) = "onUpdatePlayer($event)"
  (playerDeleted) = "onDeletePlayer($event)"
></app-playercharacter>
