<mat-card><h2>{{ encounter_name }}</h2></mat-card>
<app-npc
  *ngFor="let npc of web_npcs"
  (npcChanged)="onUpdateNpc($event)"
  (npcDuplicated)="onDuplicateNpc($event)"
  (npcDeleted)="onDeleteNpc($event)"
  [maxed_out]="web_npcs.length >= 12"
  [id]="npc.web_element_id"
  [web_element_id]="npc.web_element_id"
  [name]="npc.name"
  [initiative]="npc.initiative"
  [armor]="npc.ac"
  [notes]="npc.notes"
>
</app-npc>
<app-npcadd
  [maxed_out]="web_npcs.length >= 12"
  (newNpc)="onCreateNpc($event)"
></app-npcadd>
