<button mat-button [matMenuTriggerFor]="login">Login</button>
<mat-menu #login="matMenu">
  <button mat-menu-item (click)="loginWithRedirect()" *ngIf="(auth.isAuthenticated$ | async) === false">
    <mat-icon>login</mat-icon>
    <span>Login</span>
  </button>
  <button mat-menu-item id="loginButton" *ngIf="auth.user$ | async as user">
    <img
      [src]="user.picture"
      alt="Profile picture"
      class="nav-user-profile rounded-circle"
      style="width: 75px;"
    />
    <span>{{ user.name }}</span>
  </button>
  <button mat-menu-item (click)="logout()" id="logoutButton" *ngIf="auth.user$ | async as user">
    <mat-icon>logout</mat-icon>
    <span>Log Out</span>
  </button>
</mat-menu>
