<mat-card *ngIf="editting === false">
  <mat-card-title>{{ name }}</mat-card-title>
  <mat-card-subtitle>
    <span>Initiative: {{ initiative }}</span>
    <span *ngIf="armor">Armor: {{ armor}}</span>
  </mat-card-subtitle>
  <mat-card-content *ngIf="notes">
    {{ notes }}
  </mat-card-content>
  <!-- Buttons -->
  <button mat-flat-button color="primary" (click)="toggleEdit()">Edit</button>
  <button mat-flat-button color="primary" (click)="onDuplicateMe()">Duplicate</button>
  <button mat-flat-button color="warn" (click)="onDeleteMe()">Trash</button>
</mat-card>

<div *ngIf="editting === true">
  <form [formGroup]="npcForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput="name" formControlName="nameFC">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Initiative</mat-label>
      <input matInput formControlName="initiativeFC" type="number" [(ngModel)]="initiative">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Armor</mat-label>
      <input matInput formControlName="armorFC" type="number" [(ngModel)]="armor">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Notes</mat-label>
      <textarea matInput formControlName="notesFC"></textarea>
    </mat-form-field>
    <button mat-flat-button color="secondary" type="submit">Done!</button>
  </form>
</div>

