<mat-card *ngIf="editting === false">
  <mat-card-title>{{ name }}</mat-card-title>
  <mat-card-subtitle>
    <span>Initiative: {{ initiative }}</span>
    <span *ngIf="armor">Armor: {{ armor}}</span>
  </mat-card-subtitle>
  <mat-card-content *ngIf="notes">
    {{ notes }}
  </mat-card-content>
  <!-- Buttons -->
  <button mat-flat-button color="primary" (click)="toggleEdit()">Edit</button>
  <button mat-flat-button color="primary">Duplicate</button>
  <button mat-flat-button color="warn">Trash</button>
</mat-card>

<div *ngIf="editting === true">
  <form [formGroup]="npcForm">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput="name" formControlName="nameFC">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Initiative</mat-label>
      <input matInput formControlName="initiativeFC" type="number">
    </mat-form-field>
    <mat-form-field appearance="fill" type="number">
      <mat-label>Armor</mat-label>
      <input matInput formControlName="armorFC">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Notes</mat-label>
      <textarea matInput formControlName="armorFC"></textarea>
    </mat-form-field>
    <button mat-flat-button color="secondary" (click)="toggleEdit()">Done!</button>
  </form>
</div>

