
<form [formGroup]="encounterForm" (ngSubmit)="onSave()">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput="name" formControlName="encounterFC">
    <mat-error *ngIf="!encounterForm.get('encounterFC').valid && encounterForm.get('encounterFC').touched">Must have a Name!</mat-error>
  </mat-form-field>
  <button mat-flat-button color="secondary" type="submit" [disabled]="web_npcs.length === 0">Save Encounter!</button>
</form>
  <app-npc
    *ngFor="let npc of web_npcs"
    (npcChanged)="onUpdateNpc($event)"
    (npcDuplicated)="onDuplicateNpc($event)"
    (npcDeleted)="onDeleteNpc($event)"
    [maxed_out]="web_npcs.length >= 12"
    [id]="npc.web_element_id"
    [web_element_id]="npc.web_element_id"
    [name]="npc.name"
    [initiative]="npc.initiative"
    [armor]="npc.ac"
    [notes]="npc.notes"
  >
  </app-npc>
  <app-npcadd
    [maxed_out]="web_npcs.length >= 12"
    (newNpc)="onCreateNpc($event)"
  ></app-npcadd>

